* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
}

/* --------------- Home page --------------- */
.card_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 20px;
  padding: 20px 40px;
}

.card {
  width: 300px;
  height: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px #fff;
}

.card_img {
  border-radius: 15px 15px 0 0 ;
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.card_details {
  display: flex;
  flex-direction: column;
  height: 150px;
}
.card_title {
  padding: 10px;
  font-size: 1.5rem;
}

.card_overview {
  padding: 10px 10px;
  text-overflow: ellipsis;
}

input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* --------------- Movie page --------------- */
.movie {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.movie_background {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .1;
  object-fit: cover;
}

.movie_details {
  max-width: 20%;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
}

.movie_poster {
  width: 100%;
  border-radius: 10px;
}

.movie_title {
  font-size: 30px;
  font-weight: bold;
}

.movie_date {
  font-size: 14px;
  font-weight: normal;
  color: rgb(153, 149, 149);
}

.movie_overview {
  text-align: justify;
}

.movie_cast {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  margin: 20px 50px;
}

.movie_cast_form {
  display: flex;
  flex-direction: column;
  width: 100px;
  position: relative;
}

.movie_cast_profile {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  
}

.movie_cast_name {
  color: rgba(241, 225, 169, 0.808);
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  bottom: -10px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.movie_cast_input {
  background-color: cyan;
  position: absolute;
}